<div class="row mb-5">
  <div class="column">
    <%= score_form.label :score, "得点数", class: "text-blue" %>
    <div class="number-input d-flex align-items-center">
      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
      <%= score_form.number_field :score, class: "form-control small-input", min: 0, value: score.score || 0 %>
      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
    </div>
  </div>
  <div class="column">
    <%= score_form.label :lost_score, "失点数", class: "text-red" %>
    <div class="number-input d-flex align-items-center">
      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus">+</button>
      <%= score_form.number_field :lost_score, class: "form-control small-input", min: 0, value: score.lost_score || 0 %>
      <button type="button" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="minus">-</button>
    </div>
  </div>
</div>
