<div class="user-registration">
  <div class="form-container">
    <h1 class="center-text">会員登録</h1>
    <turbo-frame id="signup_form">
      <%= render 'form', user: @user %>
    </turbo-frame>
    <div class='center-link'>
      <%= link_to 'ログインページへ', login_path %>
    </div>
  </div>
</div>
