<footer id='footer' class='footer-bottom'>
  <div class="container-fluid">
    <div class='navbar-collapse justify-content-center' id='navbarSupportedContentFooter'>
      <ul class='navbar-nav align-items-center'>
        <li class='nav-item'>
          <%= link_to '利用規約', terms_of_service_path, class: 'nav-link text-white' %>
        </li>
        <li class='nav-item'>
          <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'nav-link text-white' %>
        </li>
      </ul>
    </div>
    <!-- Copyrightテキストをul要素の外に配置 -->
    <div class='text-center text-white py-2'>
      Copyright © 2023. T.T.LOG
    </div>
  </div>
</footer>
