<footer id='footer' class='footer-bottom'>
  <div class="container-fluid text-center">
    <ul class='navbar-nav d-flex flex-row justify-content-center'>
      <li class='nav-item mx-3'>
        <%= link_to '利用規約', terms_of_service_path, class: 'nav-link footer-link' %>
      </li>
      <li class='nav-item mx-3'>
        <%= link_to 'プライバシーポリシー', privacy_policy_path, class: 'nav-link footer-link' %>
      </li>
    </ul>
    <div class='text-white py-2 footer-text'>
      Copyright © 2023. T.T.LOG
    </div>
  </div>
</footer>
