<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1 class="fw-bold">T.T.LOGは自分の得意なプレーから苦手な<br />
    プレーまでわかる試合分析ツールです</h1>
    <button type="button" class="btn btn-light">分析スタート</button>
  </div>
</div>
