<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1 class="fw-bold">T.T.LOGは自分の得意なプレーから
      <br />苦手なプレーまでわかる試合分析ツール
    <br />
    <% if current_user %>
      <%= link_to '分析スタート', new_match_info_path, class: "btn btn-success btn-lg mt-4" %>
    <% else %>
      <%= link_to '分析スタート', new_user_path, class: "btn btn-success btn-lg mt-4" %>
    <% end %>
    </h1>
  </div>
</div>
