<div class='top-wrapper'>
  <div class='top-inner-text'>
    <h1 class="fw-bold">T.T.LOGは自分の得意なプレーから苦手な<br />プレーまでわかる試合分析ツールです
    <br /><a href="#" class="btn btn-success btn-lg mt-4" role="button">分析スタート</a>
    </h1>
  </div>
</div>
