/* トップイメージのスタイル */
.top-wrapper {
  background-image: url("top.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  background-size: cover;

  .top-inner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    color: white;

    .btn {
      background-color: #308C61;
    }

    .btn:hover {
      background-color: #4CAF50;
      color: white;
    }
  }
}

/* トップイメージ以外のセクションのスタイル修正 */
section {
  margin: 0;
  padding: 20px 0;
}

.container {
  padding: 20px;
}

.btn {
  background-color: #308C61;
}

.btn:hover {
  background-color: #4CAF50;
  color: white;
}

@media screen and (max-width: 767px) {
  .fw-bold {
    font-size: 1.25rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
}

//タイトル下線
.section-header {
  border-bottom: 5px solid #fff;
  display: inline-block;
  padding-bottom: 5px;
}

//吹き出しデザイン
.chat-bubble {
  background-color: #f7e1f3;
  border-radius: 18px;
  padding: 20px;
  margin: 0 auto 20px; // 左右のマージンをautoにして中央揃え
  position: relative;
  max-width: 50%;
  text-align: center; // テキストを中央に揃える

  &::after { // 共通のスタイル
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    bottom: -15px;
  }
  &.right-bubble::after { // 右から出る三角
    border-left-color: #f7e1f3;
    right: 30px; // 右側から30pxの位置に配置
  }
  &.left-bubble::after { // 左から出る三角
    border-right-color: #f7e1f3;
    left: 30px; // 左側から30pxの位置に配置
  }
}

//テキスト左右交互表示
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* 中央寄せ */
  padding: 0;
  list-style: none; /* デフォルトのリストスタイルを消す */
  gap: 20px; /* アイテム間の余白 */
}

.features-list li {
  flex: 1 1 calc(33.33% - 40px); /* アイテムを3列に分割 */
  box-sizing: border-box;
  background-color: #fff; /* 背景色 */
  border: 2px solid #423A37; /* 枠線 */
  border-radius: 10px; /* 角を丸める */
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 影を追加 */
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease; /* アニメーション */
}

.features-list li:hover {
  transform: translateY(-5px); /* ホバー時に少し浮く */
  background-color: #f8f5f2; /* 背景色を変える */
}

.features-list .icon {
  display: inline-block;
  background-color: #50C878; /* アイコン背景色 */
  color: white;
  border-radius: 50%; /* 丸くする */
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .features-list li {
    flex: 1 1 100%; /* モバイルでは1列にする */
  }
}
