/* トップイメージのスタイル */
.top-wrapper {
  background-image: url("top.jpg");
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  background-size: cover;
}

.top-inner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
  font-size: 1.5rem;
  color: white;
}

section {
  padding: 60px 0;
}

section p {
  max-width: 60%;
  /* 幅を80%に設定（必要に応じて調整） */
  margin: 0 auto 30px;
  /* 中央揃えと下のマージンを追加 */
}

//タイトル下線
.section-header {
  color: white;
  border-bottom: 5px solid #fff;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 30px;
  /* 下に空間を追加 */
}

.container p{
  color: white;
}

/* 吹き出しのデザイン */
.chat-bubble {
  background-color: #00B0FF;
  border-radius: 18px;
  padding: 20px;
  margin: 0 auto 30px;
  position: relative;
  max-width: 40%;
  text-align: center;
  color: white;
  border: 2px solid #FFFFFF;
}

.chat-bubble::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  bottom: -15px;
}

.chat-bubble.right-bubble::after {
  border-left-color: #00B0FF;
  right: 30px;
}

.chat-bubble.left-bubble::after {
  border-right-color: #00B0FF;
  left: 30px;
}

/* 機能紹介 */
.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    list-style: none;
  gap: 20px;
}

.features-list li {
  flex: 1 1 calc(50% - 20px);
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid #00B0FF;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, background-color 0.3s ease;
  color: white;
}

.features-list li:hover {
  transform: translateY(-5px);
  background-color: rgba(255, 255, 255, 0.2);
}

.features-list .icon {
  display: inline-block;
  background-color: #00B0FF;
  color: white;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: bold;
  margin-right: 10px;
}

.start-section {
  background: linear-gradient(90deg, #4CAF50, #1A237E);
  color: white;
  padding: 80px 20px;
}

@media screen and (max-width: 768px) {
  .fw-bold {
    font-size: 1.25rem;
  }

  .btn-lg {
    font-size: 1rem;
    padding: .5rem 1rem;
  }

  section p {
    max-width: 90%;
  }

  .chat-bubble {
    max-width: 90%;
  }

  .features-section {
    padding: 60px 20px; /* 上下の余白を設定 */
  }

  .features-list li {
    flex: 1 1 100%;
    /* モバイルでは1列にする */
  }
}

@media screen and (max-width: 480px) {
  section p {
    max-width: 90%;
  }

  .chat-bubble {
    max-width: 90%;
  }

  .features-section {
    padding: 60px 20px; /* 上下の余白を設定 */
  }
}
