<h1>Editing match info</h1>

<%= render "form", match_info: @match_info %>

<br>

<div>
  <%= link_to "Show this match info", @match_info %> |
  <%= link_to "Back to match infos", match_infos_path %>
</div>
