<p style="color: green"><%= notice %></p>

<h1 class="center-text">試合分析一覧</h1>

<% if @match_infos.empty? %>
  <div class="d-flex justify-content-center">
    <p class="text-center">試合の分析データがありません。
    <br>試合分析をスタートしましょう。</p>
  </div>
<% else %>
  <div id="match_infos">
    <% @match_infos.each do |match_info| %>
      <%= render partial: "match_info_summary", locals: { match_info: match_info } %>
    <% end %>
  </div>
<% end %>

<%= link_to "試合分析を開始", new_match_info_path, class: "btn btn-success text-white btn-top-right" %>
