<div class="user-login">
  <div class="form-container">
    <h1 class="center-text">ログイン</h1>
    <turbo-frame id="login_form">
      <%= render 'form', user: @user %>
    </turbo-frame>
    <div class='center-link'>
      <%= link_to '会員登録ページへ', new_user_path %>
    </div>
    <div class='center-link'>
      <%= link_to 'パスワードをお忘れの方はコチラ', new_password_reset_path %>
    </div>
  </div>
</div>
